<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Component 3</h3>
      </div>
      <div class="panel-body">
        Here we have another component, which has some sort of random list...
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Cras justo odio</h4>
          <p class="list-group-item-text">99 Juuston pizza maistuu donatellolle</p>  
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Dapibus ac facilisis in</h4>
          <p class="list-group-item-text">Järkyttävä kasa höyryävää sillisalaattia</p>  
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Morbi leo risus</h4>
          <p class="list-group-item-text">Enemmän kuin koskaan on lunta satanut</p>  
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Porta ac consectetur ac</h4>
          <p class="list-group-item-text">Hervottomat korvapuustit tanssii meidän ullakolla</p>  
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Vestibulum at eros</h4>
          <p class="list-group-item-text">Et kyllä usko minkä kokoisen jääkarhun näin</p>  
        </a>
      </div>
    </div>
  </div>
</div>