<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          Routing
        </div>
      </div>
      <div class="panel-body">
        <p>Here we have 2 components. These components are controlled by a <code>router-outlet</code>. There is also an outlet inside of the
        <code>users.component</code> this child outlet controls what we show if we have a dynamic :id after our /users path.
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>