<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          Routing
        </div>
      </div>
      <div class="panel-body">
        <p>Here we have 2 components. These components are controlled by a <code>router-outlet</code>. For simplicity's sake we only
        have 1 router-outlet, but it is possible to have multiple router-outlets if we want to route nested url's, for example: <samp>/users</samp> and a child route <samp>/users/max</samp>.</p>
        <p>For more information about the logic behind the routing, see <code>app.module.ts</code> file.</p>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>